version: '3.8'

services:
  unit-tests:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/project
    working_dir: /project
    command: [ "bash", "-c", "cd docker_tests/unit_tests && ./run_unit_tests.sh" ]
    environment:
      - CMAKE_GENERATOR=Ninja
